# data generation
Faker==4.14.2
# db orm
sqlalchemy==1.3.20
# data processing
pandas==1.1.4
# parquet
pyarrow==2.0.0
# excel
xlrd==2.0.1
openpyxl
# progress par
tqdm==4.55.0
# testing
pytest==6.2.1
pytest-cov==2.10.1